/* -- Resets -- */
* {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

/* -- General Styling -- */
body {
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "Inter", sans-serif;
  font-size: 1.125rem;
  font-weight: 300;

  width: min(100vw, 1440px);
  height: 100vh;
  overflow: hidden;

  background-image: url(./images/pattern-curve.svg);
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 60%;

  margin: 0;
  padding: 0;
}

/* -- Slide -- */
.slide {
  --clr-fg: hsl(240, 38%, 20%);
  --clr-accent: hsl(240, 18%, 77%);

  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--clr-fg);

  width: 100%;
  height: 100%;

  margin-left: 10rem;
  margin-right: 5rem;
}

/* testimony styling */
.slide .testimony {
  position: relative;
  top: 25%;
  left: 20%;
  width: 43%;
  height: 100%;
  z-index: 2;

  background-image: url(./images/pattern-quotes.svg);
  background-repeat: no-repeat;
  background-position: top -5% left 20%;
  background-size: 30%;
  padding-top: 5rem;

  text-align: left;
}

.slide .testimony blockquote {
  font-size: 1.25rem;
  line-height: 1.6;

  justify-content: center;
  width: 80%;
  padding: 0;
  margin: 0;
}

.slide .testimony .testifier {
  display: flex;
  padding-top: 2rem;
}

.slide .testimony .testifier p {
  font-size: 0.94rem;
  font-weight: 700;
  padding: 0;
  margin: 0;
}

.slide .testimony .testifier p:last-of-type {
  font-weight: 500;
  color: var(--clr-accent);
  padding-left: 1rem;
}

/* photo styling */
.slide .photo {
  position: relative;
  width: 57%;
  height: 100%;
  margin: 1vw;
}

.slide .photo .photo-bg {
  position: absolute;
  width: 100%;
  height: 94%;
  z-index: -1;
}

.slide .photo .photo-image {
  position: absolute;
  width: calc(100% - 20%);
  height: calc((100% - 20%) * 0.95);
  top: 10%;
  left: 10%;
  bottom: 10%;
}

.slide .photo .buttons {
  position: absolute;
  display: flex;

  left: 45%;
  bottom: 12%;
}

.slide .photo .buttons button {
  display: inline-block;
  padding: 0.5em 1em;
  border: none;
}

.slide .photo .buttons button:hover {
  background-color: hsl(240, 18%, 72%);
}

.slide .photo .buttons button:first-of-type {
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}

.slide .photo .buttons button:last-of-type {
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}

/* -- Media Query (mobile) -- */

@media (max-width: 800px) {
  body,
  .slide,
  .slide .testimony .testifier {
    flex-direction: column;
  }

  .slide,
  .slide .testimony,
  .slide .photo {
    width: 100%;
  }

  body {
    background-size: 70%;
    width: 95%;
  }

  .slide {
    justify-content: center;
    margin: 1vw;
  }

  .slide .testimony {
    background-position: top 7% left 50%;
    top: 0;
    left: 0;
    text-align: center;
  }

  .slide .testimony blockquote {
    margin: 0 auto;
  }

  .slide .photo {
    align-items: flex-start;
    order: -1;
  }

  .slide .photo .buttons {
    bottom: 9%;
  }
}
