/* -- Custom Properties -- */
:root {
  --clr-fg: hsl(240, 38%, 20%);
  --clr-accent: hsl(240, 18%, 77%);
}
/* -- Resets -- */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
p {
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
}

/* -- General Styling -- */
body {
  font-family: "Inter", sans-serif;
  font-size: 1.125rem;
  font-weight: 300;
  color: var(--clr-fg);

  background-image: url(./images/pattern-curve.svg);
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 90%;

  width: 100vw;
  overflow-x: hidden;
}

/* -- Containers -- */
.slides {
  width: 90%;

  margin: 2rem auto 4.5rem auto;
}

.slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 0 auto;
}

.slide .photo {
  background-image: url(./images/pattern-bg.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 75%;
}

.slide .photo > img {
  display: block;
  position: relative;
  padding: 1.5em;
}

.slide .photo .btns {
  position: absolute;
  top: 30%;
  left: 40%;
}

.slide .photo button {
  display: inline-block;
  font-size: 0.5rem;
  padding: 0.5em 2em;
  border: none;
}

.slide .photo button:hover {
  background-color: hsl(240, 18%, 70%);
}

.slide .photo button:first-of-type {
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}

.slide .photo button:last-of-type {
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  margin-left: -1em;
}

.slide .content {
  text-align: center;
}

.slide .content blockquote {
  background-image: url(./images/pattern-quotes.svg);
  background-repeat: no-repeat;
  background-position: top -40% left 50%;
  background-size: 40%;
  padding-top: 1rem;
}

.slide .content p {
  font-size: 0.94rem;
  font-weight: 700;
}

.slide .content span {
  font-size: 0.94rem;
  font-weight: 500;
  color: var(--clr-accent);
}

#two {
  display: none;
}

/* -- Footer -- */
footer {
  text-align: center;
  margin: 0 auto;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 600px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 0 auto;
    font-size: 2rem;

    width: 100vw;
    height: 100vh;

    background-position: bottom left;

    overflow: hidden;
  }

  .slide {
    width: 80%;
    flex-direction: row;
  }

  .slide .photo {
    transform: translateX(-30%);
  }

  .slide .content {
    text-align: left;
    z-index: 2;
    order: -1;
  }

  .slide .content p {
    font-size: 1.25rem;
  }

  .slide .content blockquote {
    background-position: top left;
  }
}
