@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap");

/* -- Custom Properties -- */
:root {
  --clr-bg-card: hsl(300, 43%, 22%);
  --clr-bg-ratings: hsl(300, 24%, 96%);
  --clr-accent: hsl(333, 80%, 67%);
  --clr-fg: hsl(303, 10%, 53%);

  --fs-300: 0.9rem;
  --fs-400: 1rem;
  --fs-700: 1.75rem;

  --fw-500: 500;
  --fw-bold: 700;
}

/* -- Resets -- */
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

p {
  margin: 0;
}

/* -- General Styling -- */
body {
  font-family: "Spartan", sans-serif;
  font-size: var(--fs-300);
  font-weight: var(--fw-500);
  line-height: 1.6;
}

main {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  padding: 0 2em;
  max-width: 70rem;
}

/* -- Intro -- */

.intro {
  text-align: center;
}

.intro > h1 {
  color: var(--clr-bg-card);
}

.intro > p {
  color: var(--clr-fg);
}

/* -- Ratings -- */
.ratings ul {
  text-align: center;
  list-style: none;
  padding: 0;
}

.ratings li {
  background-color: var(--clr-bg-ratings);
  border-radius: 1em;
  padding: 1em;
  margin-bottom: 1em;
}

/* stars */
.ratings div {
  margin-bottom: 0.3em;
}

/* rating source */
.ratings p {
  font-weight: var(--fw-bold);
  color: var(--clr-bg-card);
}

/* -- Reviews -- */
.user {
  background-color: var(--clr-bg-card);
  color: var(--clr-fg);
  border-radius: 1em;
  padding: 2em;
  margin-bottom: 1em;
}

.user > div {
  display: flex;
  align-items: center;
  margin-bottom: 0.5em;
}

.user img {
  border-radius: 50%;
  padding-right: 1em;
}

.user div > p:first-of-type {
  font-weight: var(--fw-bold);
}

.user .status {
  color: var(--clr-accent);
}

.user blockquote {
  margin: 0;
}

/* -- Footer -- */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: var(--clr-bg-card);
}

@media (min-width: 375px) {
  .hero {
    display: flex;
    margin-top: 3rem;
  }

  .intro,
  .ratings {
    flex: 1;
  }

  .intro {
    text-align: left;
    padding: 0 3rem 3rem 0;
  }

  .reviews {
    display: flex;
    flex: 2;
  }

  .user {
    flex: 1;
    margin: 1em;
  }
}
