/* -- Resets -- */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

img {
  max-width: 100%;
}

/* -- FAQ Accordian Card (fac) -- */
.fac {
  /* custom properties */
  --clr-card: white;
  --clr-grad-1: hsl(273, 75%, 66%);
  --clr-grad-2: hsl(240, 73%, 65%);
  --shadow: rgba(53, 18, 122, 0.497159);

  /* placement */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* box model */
  width: 100%;
  min-height: 100vh;

  /* appearance */
  background-image: linear-gradient(var(--clr-grad-1), var(--clr-grad-2));
}

.fac-Card {
  position: relative;

  /* box model */
  width: clamp(320px, 55%, 920px);
  min-height: 509px;
  margin-top: 9rem;
  border-radius: 23px;

  /* appearance */
  box-shadow: 0px 50px 50px -20px var(--shadow);
  background-color: var(--clr-card);

  /* transition */
  transition: width 1s ease-in-out;
}

.fac-Card_graphic {
  position: absolute;
  top: -21%;
  left: calc((100% - 327px) / 2);

  /* box model */
  width: 100%;
  min-height: 205px;

  /* appearance */
  background-image: url("images/illustration-woman-online-mobile.svg"),
    url("images/bg-pattern-mobile.svg");
  background-position: left 10px bottom 10px, left 35px bottom;
  background-repeat: no-repeat;
}

/* -- FAQ Component -- */
.fac-Card_faq {
  /* custom properties */
  --clr-fg: hsl(237, 12%, 33%);
  --clr-fg-light: hsl(240, 6%, 50%);
  --clr-dividers: hsl(240, 5%, 91%);
  --clr-accent-dark: hsl(238, 29%, 16%);
  --clr-accent-light: hsl(14, 88%, 65%);

  --rs-12: 0.75rem;
  --rs-16: 1rem;
  --rs-18: 1.125rem;
  --rs-24: 1.5rem;
  --rs-32: 2rem;
  --rs-48: 3rem;
  --rs-96: 6rem;

  --fw-normal: 400;
  --fw-bold: 700;

  --arrow-down: url("images/icon-arrow-down.svg");

  /* display and position */
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  /* box model */
  margin-top: 6rem;
  margin-left: var(--rs-24);
  margin-right: var(--rs-24);
  margin-bottom: var(--rs-48);

  /* typography */
  font-family: "Kumbh Sans", sans-serif;
  font-size: var(--rs-16);
  line-height: 1.5;
}

.fac-Card_faq > h1 {
  margin-bottom: 0;
  font-size: var(--rs-32);
  font-weight: bold;
  text-align: center;
}

/* questions and answers */
.fac-Card_faq > details {
  /* box model */
  padding: 0.5em 1em 1em 0;
  border-bottom: 2px solid var(--clr-dividers);

  /* typography */
  font-size: var(--rs-12);
}

.fac-Card_faq > details summary {
  /* setup correct spacing for the text and arrow icon */
  display: flex;
  justify-content: space-between;

  cursor: pointer;
}

.fac-Card_faq > details summary::after {
  content: var(--arrow-down);
}

/* effects */
.fac-Card_faq > details summary:hover {
  color: var(--clr-accent-light);
}

.fac-Card_faq > details[open] summary {
  font-weight: var(--fw-bold);
}

.fac-Card_faq > details[open] summary::after {
  content: var(--arrow-down);
  transform: scale(-1); /* flips the arrow */
}

/* -- Footer -- */
footer {
  padding-bottom: 2vh;
  margin-top: auto;
  font-size: 0.75rem;
  color: #212121;
}

footer a {
  color: #ccc;
}

/* -- Media Query -- */
@media (min-width: 900px) {
  .fac {
    min-height: 100vh;
    min-width: 100vh;
    overflow: hidden;
  }
  .fac-Card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-height: 509px;
  }

  .fac-Card_graphic {
    /* FIXME: add a calc() for positioning */
    top: 4vh;
    left: -5vw;
    min-height: 500px;

    /* remove mobile graphics */
    background: unset;
    transform: unset;

    /* add desktop graphics */
    background-image: url("images/illustration-woman-online-desktop.svg"),
      url("images/bg-pattern-desktop.svg");
    background-position: left top, right -180% bottom 20%;
    background-repeat: no-repeat;
  }

  .fac-Card_faq {
    text-align: left;
    padding-left: 55%;
  }

  .fac-Card_faq > h1 {
    text-align: left;
  }
}
