/* -- Custom Properties -- */
:root {
  --clr-bg: hsl(257, 40%, 49%);
  --clr-fg: white;
  --clr-hover: hsl(300, 69%, 71%);
  --clr-shadow-1: hsla(257, 87%, 63%, 0.19);
  --clr-shadow-2: hsla(257, 87%, 63%, 0.23);

  --rs-10: 0.625rem;
  --rs-12: 0.75rem;
  --rs-16: 1rem;
  --rs-20: 1.25rem;
  --rs-24: 1.5rem;
  --rs-36: 2.25rem;
  --rs-40: 2.5rem;
  --rs-44: 2.75rem;
  --rs-48: 3rem;
  --rs-120: 7.5rem;
  --rs-240: 15rem;

  --min-width: var(--rs-240);
}

/* -- Resets -- */
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
img {
  max-width: 100%;
}

/* -- General Styling -- */
body {
  font-family: "Open Sans", sans-serif;
  font-size: var(--rs-16);
  line-height: var(--rs-24);
  text-align: center;

  background-image: url(images/bg-mobile.svg);
  background-repeat: no-repeat;
  background-position: 50% 0%;
  background-size: 100% 45%;
  background-color: var(--clr-bg);

  background-color: var(--clr-bg);
  color: var(--clr-fg);
}

/* -- Huddle Landing Page (hlp) -- */
.hlp {
  min-width: var(--min-width);
  margin: var(--rs-36) var(--rs-40) 0 var(--rs-40);
}

/* -- Logo -- */
.hlp-Logo {
  width: var(--rs-120);
  height: var(--rs-20);

  margin-bottom: var(--rs-48);
}

.hlp-Graphic {
  margin-bottom: var(--rs-44);
}

.hlp-Intro > h1 {
  font-family: "Poppins", sans-serif;
  font-size: var(--rs-24);
  line-height: var(--rs-36);
  margin-bottom: var(--rs-16);
}
.hlp-Intro > p {
  margin-bottom: var(--rs-24);
}

.hlp-Intro > button {
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-size: var(--rs-12);

  background-color: var(--clr-fg);
  color: var(--clr-bg);
  box-shadow: 0 10px 24px var(--clr-shadow-1), 0 6px 6px var(--clr-shadow-2);
  border: 2px solid var(--clr-bg);
  border-radius: 20px;

  padding-top: var(--rs-12);
  padding-bottom: var(--rs-12);
  margin-bottom: var(--rs-48);

  width: 66%;
}

.hlp > button:hover,
.hlp > button:focus {
  background-color: var(--clr-hover);
  color: var(--clr-fg);
}

/* -- Social Icons -- */
.hlp-SocialLinks {
  display: flex;
  justify-content: center;
  list-style: none;
  padding-left: 0;
}

.hlp-SocialLinks > li {
  border: 2px solid var(--clr-fg);
  border-radius: 50%;
  padding: var(--rs-10);
}

.hlp-SocialLinks li + li {
  margin-left: var(--rs-10);
}

.hlp-Icon {
  --icon-width: 28px;

  display: block;
  width: var(--icon-width);
  height: var(--icon-width);
  background: var(--clr-fg);
  mask-size: cover;
}

.hlp-SocialLinks li:hover,
.hlp-SocialLinks li:focus {
  border: 2px solid var(--clr-hover);
}

.hlp-Icon:hover,
.hlp-Icon:focus {
  background: var(--clr-hover);
}

[aria-label="Facebook"] {
  mask: url(images/logo-facebook.svg);
}
[aria-label="Twitter"] {
  mask: url(images/logo-twitter.svg);
}
[aria-label="Instagram"] {
  mask: url(images/logo-instagram.svg);
}

/* -- Footer -- */
footer {
  margin-top: auto;
}
.attribution {
  font-size: var(--rs-12);
  text-align: center;
}
.attribution a {
  color: var(--clr-hover);
}
