/* -- Custom Properties -- */
:root {
  --clr-bg: hsl(257, 40%, 49%);
  --clr-fg: white;
  --clr-hover: hsl(300, 69%, 71%);
  --clr-shadow-1: hsla(257, 87%, 63%, 0.19);
  --clr-shadow-2: hsla(257, 87%, 63%, 0.23);

  --rs-10: 0.625rem;
  --rs-12: 0.75rem;
  --rs-16: 1rem;
  --rs-18: 1.125rem;
  --rs-20: 1.25rem;
  --rs-24: 1.5rem;
  --rs-27: 1.6875;
  --rs-36: 2.25rem;
  --rs-40: 2.5rem;
  --rs-44: 2.75rem;
  --rs-48: 3rem;
  --rs-60: 3.75rem;
  --rs-120: 7.5rem;
  --rs-240: 15rem;

  --min-width: var(--rs-240);
}

/* -- Resets -- */
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
}

/* -- General Styling -- */
body {
  font-family: "Open Sans", sans-serif;
  font-size: var(--rs-16);
  line-height: var(--rs-24);
  text-align: center;

  background-image: url(images/bg-mobile.svg);
  background-repeat: no-repeat;
  background-position: 50% 0%;
  background-size: 100% 45%;
  background-color: var(--clr-bg);

  background-color: var(--clr-bg);
  color: var(--clr-fg);
}

/* -- Huddle Landing Page (hlp) -- */
.hlp {
  min-width: var(--min-width);
  margin: var(--rs-36) var(--rs-40) 0 var(--rs-40);
}

/* -- Logo -- */
.hlp-Logo {
  width: var(--rs-120);
  height: var(--rs-20);

  margin-bottom: var(--rs-48);
}

/* -- Intro -- */
.hlp-Intro_image {
  margin-bottom: var(--rs-44);
}

.hlp-Intro_cta > h1 {
  font-family: "Poppins", sans-serif;
  font-size: var(--rs-24);
  line-height: var(--rs-36);

  margin-bottom: var(--rs-16);
}

.hlp-Intro_cta > p {
  margin-bottom: var(--rs-24);
}

.hlp-Intro_cta > button {
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-size: var(--rs-12);

  background-color: var(--clr-fg);
  color: var(--clr-bg);
  box-shadow: 0 10px 24px var(--clr-shadow-1), 0 6px 6px var(--clr-shadow-2);
  border: 2px solid var(--clr-bg);
  border-radius: 30px;

  padding-top: var(--rs-12);
  padding-bottom: var(--rs-12);
  margin-bottom: var(--rs-48);

  width: 66%;
  max-width: 12.5rem;
}

.hlp-Intro_cta > button:hover,
.hlp-Intro_cta > button:focus {
  background-color: var(--clr-hover);
  color: var(--clr-fg);
}

/* -- Social Icons -- */
.hlp-SocialLinks {
  display: flex;
  justify-content: center;
  list-style: none;
  padding-left: 0;
}

.hlp-SocialLinks > li {
  border: 2px solid var(--clr-fg);
  border-radius: 50%;
  padding: var(--rs-10);
}

.hlp-SocialLinks li + li {
  margin-left: var(--rs-10);
}

.hlp-Icon {
  --icon-width: 28px;

  display: block;
  width: var(--icon-width);
  height: var(--icon-width);
  background: var(--clr-fg);
  mask-size: cover;
}

.hlp-SocialLinks li:hover,
.hlp-SocialLinks li:focus {
  border: 2px solid var(--clr-hover);
}

.hlp-Icon:hover,
.hlp-Icon:focus {
  background: var(--clr-hover);
}

/* Chrome needs the -webkit-* polyfill */
[aria-label="Facebook"] {
  mask-image: url(images/logo-facebook.svg);
  -webkit-mask-image: url(images/logo-facebook.svg);
}
[aria-label="Twitter"] {
  mask-image: url(images/logo-twitter.svg);
  -webkit-mask-image: url(images/logo-twitter.svg);
}
[aria-label="Instagram"] {
  mask-image: url(images/logo-instagram.svg);
  -webkit-mask-image: url(images/logo-instagram.svg);
}

/* -- Footer -- */
footer {
  margin-top: auto;
}
.attribution {
  font-size: var(--rs-12);
  text-align: center;
}
.attribution a {
  color: var(--clr-hover);
}

/* -- Media Queries -- */
@media (min-width: 800px) {
  body {
    background: url(images/bg-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--clr-bg);

    padding-bottom: 1vh;

    max-width: 98vw;
    max-height: 98vh;
    overflow: hidden;
  }

  .hlp {
    height: 95vh;
  }

  .hlp-Intro {
    display: grid;
    grid-template-areas: "intro";
    align-items: center;

    height: 80%;
  }

  .hlp-Intro_image,
  .hlp-Intro_cta {
    grid-area: intro;
  }

  .hlp-Intro_image {
    justify-self: start;
    object-fit: contain;

    height: 100%;
    max-height: 506px;
    width: 55%;
    margin: 0;

    transition: 180ms width ease-in;
  }

  .hlp-Intro_cta {
    justify-self: end;
    text-align: left;

    font-size: var(--rs-18);
    line-height: var(--rs-27);

    margin-left: 7.5%;
    margin-right: 8%;

    max-width: 35%;
    min-width: var(--min-width);
  }

  .hlp-Intro_cta > h1 {
    font-size: var(--rs-40);
    line-height: var(--rs-60);
  }

  .hlp-Intro_cta > button {
    font-size: inherit;
    line-height: inherit;
    width: 40%;
    min-width: 12.5rem;
  }

  .hlp-SocialLinks {
    justify-content: flex-end;
    margin-top: auto;
  }

  footer {
    position: relative;
    top: -3vw;
  }
}
