/* -- Custom Properties -- */
:root {
  --clr-fg: hsl(0, 36%, 70%);
  --clr-error: hsl(0, 93%, 68%);
  --clr-accent: hsl(0, 6%, 24%);
  --clr-btn-border: hsl(0, 80%, 86%);

  --gradient-bg: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
  --gradient-btn: linear-gradient(to right, hsl(0, 80%, 86%), hsl(0, 74%, 74%));

  --fs-11px: 0.6875;
  --fs-16px: 1rem;
  --fs-40px: 2.5rem;

  --fw-light: 300;
  --fw-bold: 600;
}

/* -- Resets -- */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
}

/* -- General Styling -- */
body {
  position: relative;
  font-family: "Josefin Sans", sans-serif;
  font-size: var(--fs-16px);
  line-height: 1.4;
  color: var(--clr-fg);

  background-image: var(--gradient-bg);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1em;

  position: relative;
  max-width: 1440px;
  margin: 5em auto 1em;
}

main::before {
  /* holds the logo */
  display: block;
  content: "";

  /* set up as a positioned element 
     top, left are relative to main's top, left
  */
  position: absolute;
  top: -4em;
  left: 6em;

  /*  size and position the logo in the 'before' element background
      image is invisible if not given a width and height in hard units */
  width: 7rem;
  height: 2rem;

  background-image: url(./images/logo.svg);
  background-repeat: no-repeat;
  background-size: 100% auto;

  /* position the 'before' element relative to main */
  transform: translate(-80%, 0%);
  margin: 2rem;
}

/* -- Call to Action (cta) -- */
.cta > h1 {
  font-size: var(--fs-40px);
  font-weight: var(--fw-bold);

  text-transform: uppercase;
  letter-spacing: 11px;
  line-height: 42px;

  color: var(--clr-accent);
}

.cta > h1 > span {
  font-weight: var(--fw-light);
  color: var(--clr-fg);
}

/* email */
.cta .email {
  display: flex;
}

.cta #email {
  width: 100%;
  border: none;
  border: 1px solid;
  border-color: var(--clr-btn-border);
  border-radius: 100px;
  padding-left: 2em;
  font-family: inherit;
  font-size: inherit;
  margin-left: 1em;
  outline: none;
}

.cta #email::placeholder {
  color: var(--clr-fg);
}

.cta .email .btn {
  width: 6em;
  height: 4em;
  background-image: url(./images/icon-arrow.svg), var(--gradient-btn);
  background-repeat: no-repeat;
  background-position: center;

  border-radius: 50px;
  border: 0 none;
  cursor: pointer;
  padding-bottom: 1em;
  box-shadow: 0 10px 20px var(--clr-fg), 0 6px 6px var(--clr-fg);

  transform: translate(-50%, 0%);
  outline: none;
}

/* Email Validation */
form {
  /* ensure error message positioning is relative to the form */
  position: relative;
}

input[type="email"]:invalid {
  border-color: var(--clr-error);
  background-image: url(./images/icon-error.svg);
  background-size: 1.5em;
  background-repeat: no-repeat;
  background-position: top 0.8em right 2.5em;
}

input:invalid + .err-msg::before {
  content: "Please provide a valid email";
  position: absolute;
  display: inline-block;
  color: var(--clr-error);
  left: 3em;
  top: 4em;
}

/* -- Footer -- */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: var(--clr-accent);
}

/* -- Media Query -- */
@media (min-width: 900px) {
  body {
    background-image: url(./images/bg-pattern-desktop.svg);
    background-size: cover;
    width: 80%;
    height: 100vh;
    margin: 0 auto;
    overflow: hidden;
  }

  main {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: left;
    margin: 0;
  }

  main::before {
    top: 0;
    left: 4.5rem;
  }

  .cta {
    order: -1;
    margin-right: 12rem;
    width: 60%;
  }

  .cta > h1 {
    width: 50%;
  }
}
