@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap");

/* -- Custom Properties -- */
:root {
  --clr-bg: hsl(210, 46%, 95%);
  --clr-fg: hsl(214, 17%, 51%);
  --clr-accent: hsl(217, 19%, 35%);
  --clr-shadow: hsla(210, 29%, 84%, 0.5);

  --fs-13px: 0.8125rem;
  --fs-16px: 1rem;
  --fs-20px: 1.25rem;

  --fw-200: 200;
  --fw-500: 500;
  --fw-700: 700;

  --border-radius: 10px;
}

/* -- Resets -- */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
}

p {
  margin: 0;
}

/* -- Utilities -- */
.icon {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

.icon > img {
  transform: translate(0.5rem, 0.5rem);
}

.avatar {
}

/* -- General Styling -- */
body {
  font-family: "Manrope", sans-serif;
  font-size: var(--fs-13px);
  font-weight: var(--fw-500);

  background-color: var(--clr-bg);
  color: var(--clr-fg);
  margin: 0 auto;
}

/* -- Article Preview Card -- */
.preview {
  background-color: white;
  border-radius: var(--border-radius);
  box-shadow: 0px 40px 40px -10px var(--clr-shadow);
  width: 20rem;
  margin: 4rem auto;
  overflow: hidden;
}

/* content */
.preview .content {
  padding: 2em;
}

.preview .content h1 {
  font-size: var(--fs-16px);
  font-weight: var(--fw-700);
  color: var(--clr--accent);
  line-height: 1.5;
  margin-bottom: 1em;
}

.preview .content > p {
  font-weight: var(--fw-200);
  line-height: 1.25;
  margin-bottom: 2rem;
}

/* author */
.preview .author {
  display: flex;
  align-items: center;
  position: relative;
}

.preview .author .avatar {
  flex: 0 1 auto;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.preview .author > p {
  padding-left: 1em;
}

.preview .author .name {
  flex: 0 5 auto;
  font-weight: var(--fw-700);
  color: var(--clr-accent);
}

.preview .author > .icon {
  background-color: var(--clr-bg);
  margin-left: auto;
}

/* Hover effects */
.preview .author .social {
  position: absolute;
  display: flex;
  flex-grow: 0;
  justify-content: space-around;
  align-items: center;
  width: 327px;
  height: 66px;
  top: 0;
  left: -26px;
  background-color: var(--clr-accent);
  color: var(--clr-bg);
  padding: 0 1em;

  /* hide and collapse the space it takes */
  visibility: collapse;
}

.preview .author .social > span {
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-left: 2em;
}

.preview .author .icon .social div:last-of-type {
  background-color: white;
  margin-left: auto;
  margin-right: 2em;
}

.preview .author .icon:hover .social {
  visibility: visible;
}

/* -- Footer -- */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* -- Media Queries -- */
@media (min-width: 700px) {
  /* using 'magic numbers' here, ideally they would
     be set up as 'constants' (css custom properties) */

  body {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
  }

  .preview {
    display: grid;
    grid-template-columns: 17.8125rem 27.8125rem;
    box-shadow: 0px 4px 4px 0 var(--clr-shadow);
    width: 45.625rem;
    height: 17.5rem;
  }

  .preview > img {
    width: 17.8125rem;
    height: 17.5rem;
  }

  .preview .content {
    width: 22.8125rem;
    height: 13.5rem;
    padding: 0;
    margin: 2rem 2.5rem;
  }

  .preview .content > h1 {
    font-size: var(--fs-20px);
    margin: 0 0 0.75rem 0;
  }

  .preview .content > p {
    font-size: var(--fs-13px);
    line-height: 1.25;
    margin-bottom: 1.25rem;
  }
}
