/* -- Custom Properties -- */
:root {
  --clr-accent: hsl(223, 87%, 63%);
  --clr-accent-light: hsl(223, 100%, 88%);
  --clr-err-msg: hsl(354, 100%, 66%);
  --clr-fg: hsl(209, 33%, 12%);
  --clr-footer: hsl(0, 0%, 59%);
  --clr-shadow-1: hsla(223, 87%, 63%, 0.19);
  --clr-shadow-2: hsla(223, 87%, 63%, 0.23);

  /* Scale for font, margin, etc. sizing in REM's */
  --rs-10: 0.625rem;
  --rs-12: 0.75rem;
  --rs-16: 1rem;
  --rs-20: 1.25rem;
  --rs-22: 1.375;
  --rs-32: 2rem;
  --rs-40: 2.5rem;
  --rs-48: 3rem;
  --rs-60: 3.75rem;
  --rs-72: 4.5rem;
  --rs-80: 5rem;
  --rs-94: 5.875rem;
  --rs-120: 7.5rem;

  --fw-light: 300;
  --fw-regular: 400;
  --fw-bold: 700;

  --pcs-min-width: 15rem;
  --pcs-max-width: 45rem;
}

/* -- Resets -- */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* -- General Styling -- */
body {
  display: flex;
  flex-direction: column;

  font-family: "Libre Franklin", sans-serif;
  font-size: var(--rs-20);
  font-weight: var(--fw-light);

  text-align: center;
  color: var(--clr-fg);
}

/* -- pcs -- */
.pcs {
  min-width: var(--pcs-min-width);
  max-width: var(--pcs-max-width);

  padding-left: var(--rs-16);
  padding-right: var(--rs-16);

  margin-right: auto;
  margin-left: auto;
  margin-top: var(--rs-80);
}

/* Logo and Intro text */
.pcs-Intro {
  margin-bottom: var(--rs-72);
}

.pcs-Intro > h1 {
  font-size: var(--rs-22);
  font-weight: inherit;
  margin-bottom: var(--rs-16);
}

.pcs-Intro > h1 > strong {
  font-weight: var(--fw-bold);
}

.pcs-Intro > p {
  font-size: var(--rs-12);
  margin-bottom: var(--rs-32);
}

/* CTA */
.pcs-Intro_cta > input,
.pcs-Intro_cta > button {
  font-family: inherit;
  font-size: var(--rs-12);

  outline: none;
  border: none;
  border-radius: 20px;

  width: 93%;
}

.pcs-Intro_cta > input {
  line-height: var(--rs-20);

  border: 1px solid var(--clr-accent-light);
  color: var(--clr-accent);

  padding-left: var(--rs-32);
  padding-top: var(--rs-10);
  padding-bottom: var(--rs-10);
}

.pcs-Intro_cta > button {
  cursor: pointer;
  font-weight: var(--fw-bold);
  background-color: var(--clr-accent);
  color: white;
  box-shadow: 0 10px 24px var(--clr-shadow-1), 0 6px 6px var(--clr-shadow-2);
  border: 1px solid var(--clr-join);
  padding-top: var(--rs-12);
  padding-bottom: var(--rs-12);
}

/* Dashboard Image */
.pcs-Dashboard {
  width: 90%; /* 640px / 712px */
  margin-left: auto;
  margin-right: auto;
  margin-bottom: var(--rs-120);
}

.pcs-Dashboard > img {
  max-width: 100%;
  height: auto;
}

/* Social and Copyright */
.pcs-Footer_social > a {
  display: inline-block;
  text-decoration: none;
  text-align: center;

  width: 50px;
  height: 50px;

  border: 1px solid var(--clr-accent-light);
  border-radius: 50%;
}

.pcs-Footer_social > a > img {
  box-sizing: content-box;

  padding: 8px;

  /*
      The filters (with hue-rotate(0deg) yields  hsl(38, 100%, 46%)
      The desired blue has a hue of hsl(223, 87%, 63%);
      223deg - 38deg = 185deg which yields hsl(216, 100%, 68%) fairly close 
      bumping up 1 more deg gets us a little closer  hsl(222, 100%, 71%);
   */
  filter: invert(0.5) sepia(1) hue-rotate(185deg) saturate(5) brightness(0.98);
}

.pcs-Footer_social > a + a {
  margin-left: 1rem;
}

.pcs-Footer > p {
  font-size: var(--rs-10);
  color: var(--clr-footer);
}

/* -- Footer -- */
.attribution {
  font-size: var(--rs-10);
  color: var(--clr-footer);
}

.attribution a {
  color: var(--clr-accent);
}

/* -- Error Handling -- */
.pcs-ErrMsg_email {
  display: block;
  font-family: inherit;
  font-size: var(--rs-10);
  font-style: italic;
  text-align: center;

  color: var(--clr-err-msg);
  padding-top: 2px;
  padding-bottom: 2px;
}

/*
    Firefox displays a red box-shadow when the button
    is used to submit input and the field is reset to 
    empty or contents are backspaced to clear the field.
    This turns if off if the field is empty and the
    placeholder is shown.
*/
.pcs-Intro_cta > input:placeholder-shown {
  box-shadow: none;
}

/* -- Media Queries -- */
@media (min-width: 760px) {
  html {
    max-width: 100vw;
    max-height: 98vh;
  }
  .pcs {
    margin-top: var(--rs-80);
    margin-left: auto;
    margin-right: auto;
  }
  .pcs-Intro > img {
    width: 90px;
    height: auto;
    margin-bottom: var(--rs-40);
  }
  .pcs-Intro > h1 {
    font-size: var(--rs-48);
  }
  .pcs-Intro > p {
    font-size: var(--rs-20);
    margin-bottom: var(--rs-40);
  }
  .pcs-Intro_cta {
    position: relative;
    display: flex;
    margin-bottom: var(--rs-94);
  }
  .pcs-Intro_cta > input {
    flex: 3;
    margin-right: var(--rs-16);
  }
  .pcs-Intro_cta > button {
    flex: 1;
  }
  .pcs-ErrMsg_email {
    position: absolute;
    padding-left: var(--rs-32);
    bottom: -70%;
  }

  .pcs-Dashboard {
    margin-bottom: var(--rs-72);
  }
}
