/* -- Custom Properties -- */
:root {
  --clr-accent: hsl(223, 87%, 63%);
  --clr-accent-light: hsl(223, 100%, 88%);
  --clr-err-msg: hsl(354, 100%, 66%);
  --clr-fg: hsl(209, 33%, 12%);
  --clr-footer: hsl(0, 0%, 59%);
  --clr-shadow-1: hsla(223, 100%, 88%, 0.19);
  --clr-shadow-2: hsla(223, 100%, 88%, 0.23);

  /* Scale for font, margin, etc. sizing in REM's */
  --rs-10: 0.625rem;
  --rs-12: 0.75rem;
  --rs-16: 1rem;
  --rs-20: 1.25rem;
  --rs-22: 1.375;
  --rs-32: 2rem;
  --rs-48: 3rem;
  --rs-72: 4.5rem;
  --rs-80: 5rem;
  --rs-120: 7.5rem;

  --fw-light: 300;
  --fw-regular: 400;
  --fw-bold: 700;
}

/* -- Resets -- */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* -- General Styling -- */
body {
  font-family: "Libre Franklin", sans-serif;
  font-size: var(--rs-20);
  font-weight: var(--fw-light);
  text-align: center;
  color: var(--clr-fg);
}

/* -- pcs -- */
.pcs {
  text-align: center;

  max-width: 45rem;
  margin-right: auto;
  margin-left: auto;
  margin-top: var(--rs-80);

  padding-left: var(--rs-16);
  padding-right: var(--rs-16);
}

/* Logo and Intro text */
.pcs-Intro {
  margin-bottom: var(--rs-72);
}

.pcs-Intro > img {
  margin-bottom: var(--rs-32);
}

.pcs-Intro > h1 {
  font-size: var(--rs-22);
  font-weight: inherit;
  margin-bottom: var(--rs-16);
}

.pcs-Intro > h1 > strong {
  font-weight: var(--fw-bold);
}

.pcs-Intro > p {
  font-size: var(--rs-12);
  margin-bottom: var(--rs-32);
}

.pcs-Intro_cta > input,
.pcs-Intro_cta > button {
  font-family: inherit;
  font-size: var(--rs-12);

  outline: none;
  border: none;
  border-radius: 20px;

  width: 93%;
}

.pcs-Intro_cta > input {
  line-height: var(--rs-20);

  border: 1px solid var(--clr-accent-light);
  color: var(--clr-accent);

  padding-left: var(--rs-32);
  padding-top: var(--rs-10);
  padding-bottom: var(--rs-10);
}

#err-email {
  display: block;
  font-family: inherit;
  font-size: var(--rs-10);
  font-style: italic;
  text-align: center;

  color: var(--clr-err-msg);
  padding-top: 2px;
  padding-bottom: 2px;
}

.pcs-Intro_cta > button {
  cursor: pointer;
  font-weight: var(--fw-bold);
  background-color: var(--clr-accent);
  color: white;
  box-shadow: 0 10px 20px var(--clr-shadow-1), 0 6px 6px var(--clr-shadow-2);
  border: 1px solid var(--clr-join);
  padding-top: var(--rs-12);
  padding-bottom: var(--rs-12);
}

/* Dashboard Image */
.pcs-Dashboard {
  width: 90%; /* 640px / 712px */
  margin-left: auto;
  margin-right: auto;
  margin-bottom: var(--rs-120);
}

.pcs-Dashboard > img {
  max-width: 100%;
  height: auto;
}

/* Social and Copyright */
.pcs-Footer > p {
  font-size: var(--rs-10);
  color: var(--clr-footer);
}

/* -- Footer -- */
.attribution {
  font-size: var(--rs-10);
  color: var(--clr-footer);
}

.attribution a {
  color: var(--clr-accent);
}
