/* -- Initial styles set for mobile screen sizes -- */
/* -- Custom Properties -- */
:root {
  --clr-bg: hsl(224, 35%, 11%);
  --clr-bg-email: hsl(225, 26%, 23%);
  --clr-fg: hsl(225, 40%, 83%);
  --clr-fg-email: hsl(0, 0%, 100%);

  --clr-button: hsl(157, 100%, 85%);
  --clr-err-msg: hsl(0, 96%, 61%);

  --clr-header: hsl(157, 74%, 62%);
  --clr-social: hsl(225, 21%, 45%);

  --fw-light: 300;
  --fw-medium: 400;
  --fw-bold: 700;

  /* rem-scale for fonts, line-heights, and margins */
  --rs-08: 0.5rem;
  --rs-11: 0.6875rem;
  --rs-12: 0.75rem;
  --rs-14: 0.875rem;
  --rs-15: 0.9375rem;
  --rs-16: 1rem;
  --rs-17: 1.0625rem;
  --rs-18: 1.125rem;
  --rs-25: 1.5625rem;
  --rs-26: 1.625rem;
  --rs-28: 1.75rem;
  --rs-31: 1.9375rem;
  --rs-33: 2.0625rem;
  --rs-35: 2.1875rem;
  --rs-36: 2.25rem;
  --rs-38: 2.375rem;
  --rs-40: 2.5rem;
  --rs-45: 2.8125rem;
  --rs-48: 3rem;
  --rs-52: 3.25rem;
  --rs-56: 3.5rem;
  --rs-57: 3.5625rem;
  --rs-62: 3.875rem;
  --rs-64: 4rem;
  --rs-93: 5.8125rem;
  --rs-152: 9.5rem;
}

/* -- Resets -- */
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

/* -- General Styling -- */
body {
  display: flex;
  flex-direction: column;

  font-family: "Chivo", sans-serif;
  font-size: var(--rs-16);
  font-weight: var(--fw-medium);
  text-align: center;

  background-color: var(--clr-bg);
  color: var(--clr-fg-email);

  min-height: 98vh;
}

.wrapper {
  /* the gradient provides an overlay to dull 
     the image a bit so the text will be readable */
  background-image: linear-gradient(
      to top right,
      rgba(0, 0, 0, 1) 65%,
      rgba(0, 0, 0, 0)
    ),
    url(../images/image-host-mobile.jpg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: top right;

  padding: 1vw;
  margin-top: var(--rs-62);
}

/* -- Logo -- */
#Logo {
  display: block;

  margin-left: auto;
  margin-right: auto;
}

/* -- CTA -- */
.cta {
  width: 100%;
  margin: var(--rs-57) auto 0;
}

.cta-Lede > h1 {
  font-size: var(--rs-26);
  font-weight: var(--fw-light);
  line-height: var(--rs-38);
  text-transform: uppercase;
}

.cta-Lede > h1 > span {
  color: var(--clr-header);
}

.cta-Lede > p {
  font-size: var(--rs-15);
  line-height: var(--rs-25);
  color: var(--clr-fg);

  padding: 0 1em;
  margin-top: var(--rs-16);
}

/* Social */

.cta-Social {
  display: flex;
  justify-content: space-around;
  align-items: center;

  width: 84%;
  margin: var(--rs-33) auto 0;
}

/* NOTE: fix for known flex layout 'gotcha'
    the 'min-width' values here are to override a flex-bug
    that enforces an element's minimum width. Had to apply 
    it to both the 'a' tag and the 'img' tag.

    Additionally, the image must have a height for things
    to work correctly in a flex container.
*/
.cta-Social > a {
  display: flex;
  text-decoration: none;

  min-width: 0;

  padding: 0;
  margin: auto;
}

.cta-Social > a > img {
  min-width: 0;
  height: var(--rs-17);
}

.cta-Social > a + a {
  margin-left: 1rem;
}

/* Sign-up */
.cta-SignUp {
  margin-top: var(--rs-48);
}

.cta-SignUp > input,
.cta-SignUp > button {
  font-family: inherit;
  font-size: var(--fs-14);
  font-weight: var(--fw-medium);
  line-height: var(--rs-28);

  outline: none;
  border: none;
  border-radius: 20px;

  width: 100%;
  padding: var(--rs-08) 0;
}

.cta-SignUp > input {
  background-color: var(--clr-bg-email);
  color: var(--clr-fg);
  padding-left: var(--rs-33);
}

#err-email {
  display: block;
  font-family: inherit;
  font-size: var(--rs-12);
  font-weight: var(--fw-bold);
  text-align: left;

  color: var(--clr-err-msg);
  padding-left: var(--rs-33);
  margin-top: var(--rs-08);
}

.cta-SignUp > button {
  cursor: pointer;
  background-color: var(--clr-button);
  margin-top: var(--rs-08);
}

/* -- Dots Pattern -- 
    only visible for tablet and
    desktop layouts
*/
#dots {
  display: none;
}

/* -- Footer -- */
footer {
  margin-top: auto; /* push it to the bottom of the viewport */
}

.attribution {
  display: inline-block;
  font-size: var(--rs-11);
  color: var(--clr-fg-email);
  width: 100%;
}
.attribution > a {
  color: var(--clr-fg);
}
