/* -- The Footer -- */
.ls-Footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding-bottom: 50px;

  background-color: var(--clr-fg);
  color: var(--clr-accent);
  text-align: center;
}

.ls-Footer > div > img {
  display: inline-block;
  padding-top: 56px;
}

.ls-Footer .menu {
  margin-bottom: var(--rs-48);
}

.ls-Footer .menu ul {
  padding-left: 0;
}

.ls-Footer .menu li {
  font-family: inherit;
  font-size: var(--rs-15);
  font-weight: var(--fw-body);
  text-transform: none;
}

.ls-Footer .menu li + li {
  margin-top: var(--rs-16);
}

.ls-Footer .social {
  display: flex;
  margin-bottom: var(--rs-16);
}

.ls-Footer .social a + a {
  margin-left: var(--rs-16);
}

.ls-Footer .menu a::after,
.ls-Footer .social a::after {
  content: "";
  display: block;
  height: 2px;
  width: 50%;
  margin-top: 5px;
  background-color: var(--clr-accent);
  transform: translateX(50%);
  visibility: hidden;
}

.ls-Footer .social a::after {
  width: 100%;
  transform: unset;
}

.ls-Footer a:hover:after,
.ls-Footer a:focus:after {
  visibility: visible;
}

.ls-Footer p,
.ls-Footer .attribution {
  color: var(--clr-overlay);
}

.ls-Footer .attribution a {
  text-decoration-line: underline;
  text-decoration-color: var(--clr-accent);
}

@media (min-width: 700px) {
  .ls-Footer {
    display: grid;
    grid-template-areas:
      "logo . social"
      "menu . copy"
      ". attrib .";
  }

  .ls-Footer > * {
    padding-left: var(--rs-24);
    padding-right: var(--rs-24);
  }

  .ls-Footer div:first-of-type {
    grid-area: logo;
    display: inline;
    text-align: left;
  }

  .ls-Footer .menu {
    grid-area: menu;
    margin: 0;
  }

  .ls-Footer .menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  }

  .ls-Footer .menu ul > li {
    margin-top: 0;
  }

  .ls-Footer .menu ul > li + li {
    margin-left: var(--rs-32);
  }

  .ls-Footer .social {
    grid-area: social;
    justify-self: end;
    align-self: end;
    display: inline-flex;
    margin: 0;
  }
  .ls-Footer p {
    grid-area: copy;
    margin: 0;
  }

  .ls-Footer .attribution {
    grid-area: attrib;
    align-self: center;
  }
}
