/* -- Loopstudios landing page -- */
.ls {
  /* custom properties */
  --clr-fg: black;
  --clr-accent: hsl(0, 0%, 100%);
  --clr-overlay: hsl(0, 0%, 55%);
  --clr-copyright: hsl(0, 0%, 41%);

  --rs-15: 0.9375rem;
  --rs-16: 1rem;
  --rs-24: 1.5rem;
  --rs-32: 2rem;
  --rs-40: 2.5rem;
  --rs-48: 3rem;
  --rs-72: 4.5rem;

  --fw-light: 300;
  --fw-normal: 400;
  --fw-bold: 700;

  --lh-body: 1.6;
  --lh-hdr-large: 0.97;
  --lh-hdr-small: 0.95;

  --wrap-width: 69rem;

  /* typography */
  font-family: "Alata", sans-serif;
  font-size: var(--rs-15);
  font-weight: var(--fw-normal);
  line-height: var(--lh-body);
  color: var(--clr-fg);
}

.ls {
  max-width: var(--wrap-width);
  padding-left: var(--rs-24);
  padding-right: var(--rs-24);
  margin-left: auto;
  margin-right: auto;
}

.ls h1,
.ls h2,
.ls figcaption,
.ls .menu li {
  font-family: "Josefin Sans", sans-serif;
  font-weight: var(--fw-light);
  text-transform: uppercase;
}

.ls h1,
.ls h2 {
  line-height: var(--lh-hdr-small);
}

.ls ul {
  list-style: none;
}

.ls a {
  font: inherit;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.ls button {
  border: 1px solid var(--clr-copyright);
  padding: 13px 43px 13px 38px;
  margin-top: 34px;

  background-color: var(--clr-accent);
  text-transform: uppercase;
}

.ls button:hover,
.ls button:focus {
  background-color: var(--clr-fg);
  color: var(--clr-accent);
}
