/* Resets */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
}

[class] {
  /* outline: 1px solid red; */
}

/* Page Style */
body {
  /* display and position */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* box model */
  width: 100vw;
  min-height: 100vh;
  padding: 2vmin;
  margin: 0;
}

main {
  margin: auto;
}

footer {
  margin-top: auto;
  margin-bottom: 2vh;

  text-align: center;
}

/* -- Social Proof Section -- */
.sps {
  /* custom properties */
  --clr-accent: hsl(333, 80%, 67%);
  --clr-bg-card: hsl(300, 43%, 22%);
  --clr-bg-ratings: hsl(300, 24%, 96%);
  --clr-fg: hsl(301, 10%, 53%);

  --rs-15: 0.9375rem;
  --rs-16: 1rem;
  --rs-18: 1.125rem;
  --rs-25: 1.5625;
  --rs-32: 2rem;
  --rs-40: 2.5rem;
  --rs-76: 4.75rem;

  --lh-normal: var(--rs-25);
  --lh-headings: var(--rs-32);

  --ff-default: "Spartan", sans-serif;
  --fw-normal: 500;
  --fw-bold: 700;

  --comp-spacer: var(--rs-40);
  --star: url(../images/icon-star.svg);

  /* box model */
  min-width: clamp(77vw, 88vw, 1110px); /* 1110/1440 = 77%, 327/375 = 88% */

  /* appearance */
  background-image: url("../images/bg-pattern-top-mobile.svg"),
    url("../images/bg-pattern-bottom-mobile.svg");
  background-repeat: no-repeat;
  background-position: top left, center 100%;

  /* typography */
  font-family: var(--ff-default, "Spartan", sans-serif);
  font-size: var(--rs-15);
  font-weight: var(--fw-normal);
  line-height: var(--lh-normal);
  color: var(--clr-fg);
}

/* -- Intro -- */
.sps-Intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-bottom: var(--comp-spacer);
  text-align: center;
}

.sps-Intro > h1 {
  /* box model */
  max-width: 12ch;
  margin-top: 0;
  margin-bottom: var(--rs-18);

  /* typography */
  font-size: var(--rs-32);
  font-weight: var(--fw-bold);
  line-height: var(--lh-headings);
  color: var(--clr-bg-card);
}

.sps-Intro > p {
  /* box model */
  max-width: 30ch;
  margin: 0;
}

/* -- Ratings -- */
.sps-Ratings {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: var(--comp-spacer);
}
.sps-Ratings > ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.sps-Rating {
  display: flex;
  flex-direction: column;

  background-color: var(--clr-bg-ratings);
  border-radius: 1em;
}

.sps-Rating > div {
  margin-top: var(--rs-16);
}

.sps-Rating > p {
  font-weight: var(--fw-bold);
  color: var(--clr-bg-card);
}

.sps-Ratings li + li {
  margin-top: var(--rs-16);
}
