@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

/* -- Custom Properties -- */
:root {
  --clr-bg: hsl(185, 75%, 39%);
  --clr-bg-card: white;
  --clr-fg: hsl(229, 23%, 23%);
  --clr-accent: hsl(227, 10%, 46%);
  --clr-neutral: hsl(0, 0%, 59%);

  --fs-200: 0.8rem;
  --fs-300: 1rem;
  --fs-400: 1.125rem;

  --fw-norm: 400;
  --fw-bold: 700;
}

/* -- Resets -- */
*,
::before,
::after {
  box-sizing: border-box;
}

p,
span {
  margin: 0;
}

p:first-of-type {
  font-weight: var(--fw-bold);
}

p:last-of-type {
  font-size: var(--fs-200);
  color: var(--clr-accent);
}

/* -- General Styles -- */
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-family: "Kumbh Sans", sans-serif;
  font-size: var(--fs-400);
  line-height: 1.6rem;
  color: var(--clr-fg);

  /* size the body to the viewport */
  min-width: 100vw;
  min-height: 100vh;
  overflow: hidden; /* turn off scrollbars */

  background: url(./images/bg-pattern-top.svg) top 200% left -50% no-repeat,
    url(./images/bg-pattern-bottom.svg) bottom 200% right -50% no-repeat;
  background-color: var(--clr-bg);
}

/* -- Profile Card -- */
.profile-card {
  background-color: var(--clr-bg-card);
  display: grid;
  grid-template-rows: 1fr 1fr 0.6fr;
  border-radius: 1.5rem;
  text-align: center;
  margin: 0 auto;
  overflow: hidden; /* keep rounded corners */
}

/* Photo */
.profile-card .photo {
  width: 22rem;
  height: 9rem;
  background: url(./images/bg-pattern-card.svg) top left / cover;
}

.profile-card .photo > img {
  display: block;
  width: 6rem;
  height: 6rem;
  border: 0.4rem solid var(--clr-bg-card);
  border-radius: 50%;

  /* offset image */
  position: relative;
  left: 8rem;
  bottom: -6rem;
}

/* Person */
.profile-card .person p:first-of-type {
  padding-top: 4rem;
}

.profile-card .age {
  font-weight: var(--fw-norm);
  color: var(--clr-accent);
}

/* Statistics */
.profile-card .statistics {
  border-top: 1px solid var(--clr-neutral);
}

.profile-card .statistics ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding-left: 0;
}

.profile-card .statistics li {
  display: inline-block;
}

/* -- Page Footer -- */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
