/* -- Resets -- */
html {
  box-sizing: border-box;
}

*,
::before,
*::after {
  box-sizing: inherit;
}

img {
  /* constrain images to 100% of their container */
  max-width: 100%;
}

/* -- Utilities -- */
.flex-gap {
  margin-top: 1vmin;
}

/* -- General Styling -- */
body {
  /* size to viewport 
      specific to this design, as it is presentational
  */
  width: 100vw;
  height: 100vh;

  margin: 0;
}

/* -- Profile Card Wrapper -- */
.pc-Wrapper {
  /* custom property used only by the wrapper */
  --clr-bg: hsl(185, 75%, 39%);

  /* setup positioning context for pseudo-elements  */
  position: relative;

  /* control positioning and alignment of the wrapper's contents */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: var(--clr-bg);

  height: 100%;
  overflow: hidden;
}

.pc-Wrapper::before,
.pc-Wrapper::after {
  /* sets positioning context relative to pc-Wrapper */
  position: absolute;

  content: "";

  /* each pseudo-element will be the size of the pc-Wrapper element */
  width: 100%;
  height: 100%;
  background-size: auto;
}

.pc-Wrapper::before {
  /* move the pseudo-element's origin (center point) to it's top, left corner */
  transform: translate(-50%, -50%);

  /* place the image in the pseudo-element's bottom, right corner */
  background: url("./images/bg-pattern-top.svg") no-repeat bottom right;
}

.pc-Wrapper::after {
  /* move the pseudo-element's origin (center point) to it's bottom, right corner */
  transform: translate(50%, 50%);

  /* place the image in the pseudo-element's top, left corner */
  background: url("./images/bg-pattern-bottom.svg") no-repeat top left;
}

/* -- Profile Card -- */
.pc {
  /* custom properties required by the card and it's children */
  --clr-bg-card: white;
  --clr-fg: hsl(229, 23%, 23%);
  --clr-accent: hsl(227, 10%, 46%);
  --clr-neutral: hsl(0, 0%, 59%);

  --rs-04: 0.25rem;
  --rs-08: 0.5rem;
  --rs-10: 0.625rem;
  --rs-12: 0.75rem;
  --rs-16: 1rem;
  --rs-18: 1.125rem;
  --rs-24: 1.5rem;
  --rs-28: 1.75rem;

  --fw-norm: 400;
  --fw-bold: 700;

  /* basic styling */
  display: grid;
  grid-template-rows: 1fr 1fr 0.5fr;

  font-family: "Kumbh Sans", sans-serif;
  font-size: var(--rs-18);
  text-align: center;

  border-radius: var(--rs-24);

  background-color: var(--clr-bg-card);

  /* size the card responsively
      1440px - 375px = 1065px, 326/1065=31%, 350/1065=33%
      middle ground, 32% or 32vw

     card will be sized at 32% of the viewport but never
     less than 326px or more than 350px wide
  */
  width: clamp(326px, 32vw, 350px);
  min-height: 374px;

  /* keep the card on top of the wrapper 
      the 'transform' sets up a positioning context
  */
  transform: translate(0);
  z-index: 1;

  /* required so the background image will not 
     cover the card's rounded borders
  */
  overflow: hidden;
}

/*
   set font weights and spacing for pc-Identity and pc-Stat 
   text blocks, each is formed by a pair of paragraphs
 */
.pc p:first-of-type {
  font-weight: var(--fw-bold);
  margin-top: var(--rs-08);
  margin-bottom: 0;
}

.pc p:last-of-type {
  font-size: var(--rs-12);
  color: var(--clr-accent);
  margin-top: var(--rs-08);
  margin-bottom: var(--rs-28);
}

/* Avatar */
.pc-Avatar {
  background: url(./images/bg-pattern-card.svg) top left / cover;
}

.pc-Avatar > img {
  display: block;

  /* wrap image in a circular border */
  border: var(--rs-04) solid var(--clr-bg-card);
  border-radius: 50%;

  /* offset the image */
  transform: translate(130%, 95%);
}

/* Identity */
.pc-Identity p:first-of-type {
  padding-top: 4rem;
}

.pc-Identity p span {
  font-weight: var(--fw-norm);
  color: var(--clr-accent);
}

/* Statistics */
.pc-Stats {
  border-top: 1px solid var(--clr-neutral);
}

.pc-Stats p:last-of-type {
  font-size: var(--rs-10);
  margin-top: var(--rs-08);
}

.pc-Stats ul {
  display: flex;
  justify-content: space-around;

  list-style: none;
  padding-left: 0;
  margin-bottom: var(--rs-04);
}

.pc-Stats li {
  display: inline-block;
}

/* -- Page Footer, Attribution -- */
footer {
  /* move above pc-Wrapper's 'after' pseudo-element 
     to allow interaction with the links */
  z-index: 1;
}

.attribution {
  font-size: 0.75rem; /* 12px */
  text-align: center;
  color: #1b1b1b;
}
.attribution a {
  color: #ccc;
}
